svg{
    animation-name: colorTransition;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    fill: black;
}

@keyframes colorTransition {
    0% {fill: black;}
    20% {fill: orange;}
    40% {fill: brown;}
    60% {fill: tomato;}
    80% {fill: gray;}
    100% {fill: black;}
}